[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "esaddle"]
	path = esaddle
	url = https://github.com/mfasiolo/esaddle
[submodule "mgcViz"]
	path = mgcViz
	url = https://github.com/mfasiolo/mgcviz
[submodule "mvnfast"]
	path = mvnfast
	url = https://github.com/mfasiolo/mvnfast
[submodule "qgam"]
	path = qgam
	url = https://github.com/mfasiolo/qgam
[submodule "synlik"]
	path = synlik
	url = https://github.com/mfasiolo/synlik_release
